*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 15pt;
	font-weight: 300 !important;
	letter-spacing: -0.015em;
	line-height: 1.75em;
	background: #181818 !important;
	color: #fff;
	overflow: hidden;
	font-family: 'Inconsolata', monospace !important;
}

ol,
ul {
	list-style: none;
	margin-left: -40px;
}

a:link {
	font-weight: bold;
}

a:hover {
	color: #ff0000;
}

.color-change {
	color: #e8564b;
}

a {
	border-bottom: dotted 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

a:hover {
	border-color: transparent;
}

#main {
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

#main:before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: 0;
	vertical-align: middle;
	width: 0.1px;
}

@-moz-keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-ms-keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-moz-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-ms-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

#header {
	-moz-animation: header .25s .8s forwards;
	-webkit-animation: header .25s .8s forwards;
	-ms-animation: header .25s .8s forwards;
	animation: header .25s .8s forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	cursor: default;
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 90%;
	margin-left: -8px;
}

#header p {
	font-size: 1.25em;
	margin: 0.75em 0 0.25em 0;
	opacity: 0.75;
}

#header nav {
	margin: 1.5em 0 0 0;
}


#header nav li:nth-child(1) {
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}

#header nav li:nth-child(2) {
	-moz-animation-delay: 1.25s;
	-webkit-animation-delay: 1.25s;
	-ms-animation-delay: 1.25s;
	animation-delay: 1.25s;
}

#header nav li:nth-child(3) {
	-moz-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

#header nav li:nth-child(4) {
	-moz-animation-delay: 1.75s;
	-webkit-animation-delay: 1.75s;
	-ms-animation-delay: 1.75s;
	animation-delay: 1.75s;
}

#header nav li:nth-child(5) {
	-moz-animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}

#header nav a {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	border: 0;
	display: inline-block;
}

#header nav a:before {
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	border-radius: 100%;
	border: solid 0px #fff;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2.5em;
}



#header nav a:hover:before {
	background-color: rgba(255, 255, 255, 0.175);
	color: #f50000;
}

#header nav a:active {
	background: none;
}

#header nav a:active:before {
	background-color: rgba(255, 255, 255, 0.35);
	color: #fff;
}


@media screen and (max-width: 1680px) {
	body {
		font-size: 13pt;
	}

	@-moz-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-1500px, 0, 0);
			-webkit-transform: translate3d(-1500px, 0, 0);
			-ms-transform: translate3d(-1500px, 0, 0);
			transform: translate3d(-1500px, 0, 0);
		}

	}

	@-webkit-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-1500px, 0, 0);
			-webkit-transform: translate3d(-1500px, 0, 0);
			-ms-transform: translate3d(-1500px, 0, 0);
			transform: translate3d(-1500px, 0, 0);
		}
	}

	@-ms-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-1500px, 0, 0);
			-webkit-transform: translate3d(-1500px, 0, 0);
			-ms-transform: translate3d(-1500px, 0, 0);
			transform: translate3d(-1500px, 0, 0);
		}
	}

	@keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-1500px, 0, 0);
			-webkit-transform: translate3d(-1500px, 0, 0);
			-ms-transform: translate3d(-1500px, 0, 0);
			transform: translate3d(-1500px, 0, 0);
		}
	}

	#bg {
		background-size: 1500px auto;
		width: 4500px;
	}
}

@media screen and (max-width: 1280px) {
	body {
		font-size: 12pt;
	}

	@-moz-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-750px, 0, 0);
			-webkit-transform: translate3d(-750px, 0, 0);
			-ms-transform: translate3d(-750px, 0, 0);
			transform: translate3d(-750px, 0, 0);
		}

	}

	@-webkit-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-750px, 0, 0);
			-webkit-transform: translate3d(-750px, 0, 0);
			-ms-transform: translate3d(-750px, 0, 0);
			transform: translate3d(-750px, 0, 0);
		}
	}

	@-ms-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-750px, 0, 0);
			-webkit-transform: translate3d(-750px, 0, 0);
			-ms-transform: translate3d(-750px, 0, 0);
			transform: translate3d(-750px, 0, 0);
		}
	}

	@keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-750px, 0, 0);
			-webkit-transform: translate3d(-750px, 0, 0);
			-ms-transform: translate3d(-750px, 0, 0);
			transform: translate3d(-750px, 0, 0);
		}
	}

	#bg {
		background-size: 750px auto;
		width: 2250px;
	}
}

@media screen and (max-width: 736px) {

	body {
		font-size: 11pt;
		min-width: 320px;
	}

	@-moz-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-300px, 0, 0);
			-webkit-transform: translate3d(-300px, 0, 0);
			-ms-transform: translate3d(-300px, 0, 0);
			transform: translate3d(-300px, 0, 0);
		}

	}

	@-webkit-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-300px, 0, 0);
			-webkit-transform: translate3d(-300px, 0, 0);
			-ms-transform: translate3d(-300px, 0, 0);
			transform: translate3d(-300px, 0, 0);
		}
	}

	@-ms-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-300px, 0, 0);
			-webkit-transform: translate3d(-300px, 0, 0);
			-ms-transform: translate3d(-300px, 0, 0);
			transform: translate3d(-300px, 0, 0);
		}
	}

	@keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-300px, 0, 0);
			-webkit-transform: translate3d(-300px, 0, 0);
			-ms-transform: translate3d(-300px, 0, 0);
			transform: translate3d(-300px, 0, 0);
		}
	}

	#bg {
		background-size: 300px auto;
		width: 900px;
	}

	#header h1 {
		font-size: 2.5em;
	}

	#header p {
		font-size: 1em;
	}

	#header nav {
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {

	/* BG */

	@-moz-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-412.5px, 0, 0);
			-webkit-transform: translate3d(-412.5px, 0, 0);
			-ms-transform: translate3d(-412.5px, 0, 0);
			transform: translate3d(-412.5px, 0, 0);
		}

	}

	@-webkit-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-412.5px, 0, 0);
			-webkit-transform: translate3d(-412.5px, 0, 0);
			-ms-transform: translate3d(-412.5px, 0, 0);
			transform: translate3d(-412.5px, 0, 0);
		}
	}

	@-ms-keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-412.5px, 0, 0);
			-webkit-transform: translate3d(-412.5px, 0, 0);
			-ms-transform: translate3d(-412.5px, 0, 0);
			transform: translate3d(-412.5px, 0, 0);
		}
	}

	@keyframes bg {
		0% {
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		100% {
			-moz-transform: translate3d(-412.5px, 0, 0);
			-webkit-transform: translate3d(-412.5px, 0, 0);
			-ms-transform: translate3d(-412.5px, 0, 0);
			transform: translate3d(-412.5px, 0, 0);
		}
	}

	#bg {
		background-size: 412.5px auto;
		width: 1237.5px;
	}

	/* Header */

	#header nav {
		padding: 0 1em;
	}
}

.service_row {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.single_service {
	display: flex;
	max-width: 300px;
	margin-top: 20px;
	width: 300PX;
}

.service_img {
	display: flex;
	align-items: center;

}

.service_img img {
	width: 55px;
	height: 55px;
	object-fit: cover;
	object-position: center;
	border-radius: 15px;
	margin-right: 10px;

}

.service_head {
	font-size: 15px !important;
	font-weight: 400;
	margin-top: 0 !important;
	text-transform: uppercase;
	text-align: left;
	line-height: 14px;
}

.service_details {
	font-size: 12px !important;
	margin-top: 5px !important;
	line-height: 14px;
	text-align: left;
}

.content_area {
	display: flex;
	position: relative;
	justify-content: space-between;
width: 100%;
}

.description {
	margin-top: auto;
	margin-bottom: auto;
}

.view_btn {
	display: inline-flex;
	align-items: center;
	margin-left: 10px;
}

.view_btn a {
	line-height: 14px;
	border-bottom: 0;
	background: #343432;
	padding: 6px 12px;
	color: #fff;
	border-radius: 20px;
	font-size: 14px;
	opacity: .7;
}

.view_btn a:hover {
	background: #E2E8F0;
	color: #000;
}

.custom_section .service_row:last-child .content_area {
	border-bottom: none;
}

.lang_selector_div {
	text-align: right;
	padding-top: 30px;
}

.lang_selector_div a {
	border-bottom: none;
	display: inline-block;
	padding: 0 5px;
}

.social_wrap li a {
	line-height: 16px;
	border-bottom: 0;
	background: #343432;
	padding: 6px 12px;
	color: #fff;
	border-radius: 20px;
	font-size: 16px;
	margin-right: 10px;
	display: inline-block !important;
	opacity: .7;
}

.social_wrap li a:hover {
	background: #E2E8F0;
	color: #000;
}

.social_wrap {
	display: flex;
	justify-content: center;
}

.custom_p {
	padding: 110px 0;
	font-size: 15px !important;
}


@media screen and (max-width: 767px) {
	.service_row {
		flex-direction: column;
		gap: 16px;
		align-items: center;
		margin-bottom: 10px;
	}

	.single_service {
		margin-top: 10px;
	}

	.custom_section .service_row:last-child .single_service:last-child .content_area {
		border-bottom: none;
	}

	#header {
		top: 0;
	}

	.lang_selector_div {
		padding-top: 20px;
	}

	#main {
		overflow-y: scroll;
	}
	.custom_p {
		padding: 50px 0;
	  }
}

@media screen and (min-width: 768px) and (max-height: 899px) {
	#main{
		overflow-y: scroll;
	}
	.lang_selector_div{
		padding-top: 30px;
	}
	.custom_p {
		padding: 50px 0;
		
	  }
}

.custom_section{font-family: varela round;}

@media screen and (min-height: 899px) and (max-height: 950px) {
.custom_p {
padding: 80px 0 !important;
}
}